.btn {
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.primary {
  background-color: #007bff;
}
.primary:hover {
  background-color: #0056b3;
}

.success {
  background-color: #28a745;
}
.success:hover {
  background-color: #1e7e34;
}

.danger {
  background-color: #dc3545;
}
.danger:hover {
  background-color: #a71d2a;
}